<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="IntercomunicacaoServiceSoapBinding" messageEncoding="Mtom">
                    <security mode="Transport" />
                </binding>
                <binding name="IntercomunicacaoServiceSoapBinding1" messageEncoding="Mtom" />
                <binding name="IntercomunicacaoServiceSoapBinding2" messageEncoding="Mtom">
                    <security mode="Transport" />
                </binding>
                <binding name="IntercomunicacaoServiceSoapBinding3" messageEncoding="Mtom" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://wwwh.cnj.jus.br/pjemni-2x/intercomunicacao"
                binding="basicHttpBinding" bindingConfiguration="IntercomunicacaoServiceSoapBinding"
                contract="PJe.servicointercomunicacao222" name="IntercomunicacaoImplPort" />
            <endpoint address="https://pje1gt.trf3.jus.br/pje/intercomunicacao"
                binding="basicHttpBinding" bindingConfiguration="IntercomunicacaoServiceSoapBinding2"
                contract="PJeTRF3.servicointercomunicacao222" name="IntercomunicacaoImplPort1" />
        </client>
    </system.serviceModel>
</configuration>