<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="IntercomunicacaoServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://pje2g.trf3.jus.br/pje/intercomunicacao"
                binding="basicHttpBinding" bindingConfiguration="IntercomunicacaoServiceSoapBinding"
                contract="PJeTRF3.servicointercomunicacao222" name="IntercomunicacaoImplPort" />
        </client>
    </system.serviceModel>
</configuration>